.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 100px;
	gap: 100px;
	border-radius: 5px;
}

.imageWrapper {
	overflow: hidden;
	border-radius: 5px;
	position: relative;
}

.cardImage {
	width: 100%;
	object-fit: cover;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	/* position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%; */
}

.infoWrapper {
	padding: 20px;
}
.infoWrapper h1 {
	font-size: 34px;
	margin-bottom: 20px;
}
.listWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	gap: 20px;
}
.listWrapper p {
	margin-bottom: 5px;
	/* font-family: Poppins,sans-serif; */
	color: var(--whiteColor);
}
.checkmark {
	color: var(--checkmark);
}

.btnWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	grid-gap: 50px;
	gap: 50px;
	margin-top: 20px;
}

.projectCardSrcBtn {
	border: 1px solid var(--projectSrcBtnBorder);
	height: 50px;
	width: 100%;
	padding: 0 20px;
	background-color: var(--);
	color: #fff;
	font-size: 22px;
	border-radius: 5px;
	transition: transform 0.3s;
	font-family: Varela Round, sans-serif;
}

.projectCardLiveBtn {
	border: none;
	height: 50px;
	width: 100%;
	padding: 0 20px;
	background-color: var(--projectLiveBtn);
	color: var(--whiteColor);
	font-size: 22px;
	border-radius: 5px;
	transition: transform 0.3s;
	/* font-family: Varela Round, sans-serif; */
}

.projectCardLiveBtn:hover {
	background-color: var(--projectLiveBtnHover);
}

@media only screen and (max-width: 600px) {
	.wrapper {
		gap: 50px;
		display: flex;
		flex-direction: column;
	}
	.flipOrientationImg {
		order: 1;
	}
	.flipOrientationInfo {
		order: 2;
	}
}
@media only screen and (max-width: 900px) {
	.wrapper {
		grid-template-columns: 1fr;
	}
}
