.wrapper {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    background-color: var(--backgroundDark);
    z-index: 1001;
}

.logoWrapper {
    display: flex;
    align-items: center;
    z-index: 1002;
}

.logo {
    /* height: 6em;
    padding: 1.5em; */
    /* font-family: Poppins,sans-serif; */
    line-height: .7em;
    color: #0000;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 32px;

    text-shadow: 
    0 0 var(--whiteColor), 
    0 1.2em var(--navActiveUnderlineColor);
    overflow: hidden;
    transition: .4s;
}
.logo:hover {
    text-shadow: 
    0 -1.2em var(--whiteColor), 
    0 0 (--navActiveUnderlineColor);
}

.nav {
    display: none;
    box-sizing: border-box;
}
.navLink {
    color: var(--whiteColor);
    padding: 10px 0;
    margin: 0 20px;
    /* font-family: Poppins,sans-serif; */
}
.navLinkActive {
    color: var(--whiteColor);
    padding: 7px 0;
    margin: 0 20px;
    border-bottom: 3px solid var(--navActiveUnderlineColor);
}

.hamburger {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.hamburgerBox {
    display: inline-block;
    cursor: pointer;
    z-index: 1003;
}
.hamburgerBox div { 
    width: 35px;
    height: 5px;
    background-color: var(--whiteColor);
    margin: 6px 0;
    transition: .4s;
}

@media only screen and (min-width: 600px){
    .nav {
        display: flex;
        align-items: center;
        /* display: none; */
    }
    .hamburger {
        display: none;
        /* display: flex;
        align-items: center;
        margin: 0 20px; */
    }
}



/* .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
}
.logo:hover {
filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

@media (prefers-reduced-motion: no-preference) {
a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
}
} */