.wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    background-color: var(--navActiveUnderlineColor);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--whiteColor);
    z-index: 1;
    cursor: pointer;
    /* -webkit-animation: ScrollToTop_fadeIn__D9kbT .3s;
    animation: ScrollToTop_fadeIn__D9kbT .3s; */
    transition: opacity .2s,transform .2s;
}
.wrapper img {
    height: 30px;
}
img {
    max-width: 100%;
    height: auto;
}