* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* global color variables */
	--backgroundDark: #191d32;

	--whiteColor: #e6e6e6;
	--blackColor: #000;

	--lightColor: #f9f9f9;
	--darkColor: #191d32;
	--lessDarkColor: #282f44;
	--lighterDarkColor: #444444;

	--navHighlightColor: #646cffaa;
	--navActiveUnderlineColor: #1098f7;

	--linkColor: #646cff;
	--linkHover: #535bf2;

	/* HOME PAGE COLORS */
	--heroTextHighlight: #1098f7;
	--heroBtn: #1098f7;
	--heroBtnLow: #0e7ecd;
	--heroImgBorder: #1098f7;

	--checkmark: #1098f7;

	--projectSrcBtnBorder: #f15bb5;
	--projectLiveBtn: #f15bb5;

	--sectionBtn: #f15bb5;

	--contactBtn: #1098f7;

	/* MUSIC PLAYER COLORS */
	/* OG PURP = #9440f3 */
	--tagsSlidersPurple: #1098f7;
	--whiteColor: #ffffff;
	--tagsHover: #2cc0a0;
	--playlistHolderGray: #575a77;
	--progressLeftDark: #151616;
	--backgroundDark: #18191f;

	--tagsBackground: #1098f7;
	--tagsText: #ffffff;
	--tagsBackgroundHoverActive: #2cc0a0;
	--tagsTextHoverActive: #ffffff;

	--searchBackground: #18191f;
	--searchText: #ffffff;
	--searchPlaceHolder: #575a77;

	--playerBackground: #18191f;
	--titleColor: #ffffff;
	--artistColor: #1098f7;
	--albumColor: #ffffff;
	--timeColor: #ffffff;

	--progressSlider: #1098f7;
	--progressUsed: #ffffff;
	--progressLeft: #151616;

	--volumeSlider: #1098f7;
	--volumeUsed: #ffffff;
	--volumeLeft: #151616;

	--playlistBackground: #18191f;
	--playlistText: #575a77;
	--playlistBackgroundHoverActive: #18191f;
	--playlistTextHoverActive: #ffffff;
}

a {
	font-weight: 500;
	color: var(--whiteColor);
	/* text-decoration: none; */
}
a:hover {
	color: var(--linkHover);
}

body {
	/* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
	background-color: var(--backgroundDark);
	/* color: var(--whiteColor); */
	overflow-x: hidden;
	animation: fadeInAnimation ease 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--darkColor);
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: var(--navHighlightColor);
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: var(--darkColor);
		background-color: var(--whiteColor);
	}
	a:hover {
		color: var(--navHighlightColor);
	}
	button {
		background-color: var(--lightColor);
	}
}

.scroll-animation-hide {
	opacity: 0;
	transform: translateY(20%);
	transition: all 2.5s;
}

.scroll-animation-show {
	opacity: 1;
	transform: translateY(0);
}
