.landingAreaWrapper {
    height: calc(100vh - 200px);
    display: grid;
    place-items: center;
}
.heroWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 0 20px;
}