.landingAreaWrapper {
    height: calc(100vh - 200px);
    display: grid;
    place-items: center;
    margin: 20px auto 210px;
}
.heroWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 0 20px;
}

@media only screen and (max-width: 900px) {
    .heroWrapper {
        grid-template-columns: 1fr;
    }
}