.wrapper {
	margin: 0;
}

.title {
	/* font-family: Inter,sans-serif; */
	margin-bottom: 40px;
	font-size: 40px;
	padding: 0 20px 10px;
}

@media only screen and (max-width: 442px) {
	.wrapper {
		margin: 20px auto 60px;
	}
}
