.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: calc(100vh - 400px);
}

.wrapper a {
    color: var(--navActiveUnderlineColor);
}